<app-navbar></app-navbar>
<div class="container">
  <div class="content-container">
    <div class="image-container">
      <img
        src="https://ionicframework.com/docs/img/demos/card-media.png"
        alt="Imagen del juego"
      />
    </div>
    <div class="text-container">
      <h1>Dragon Ball</h1>
      <p>
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
        sequi nesciunt. Neque porro quisquam est, qui dolorem.
      </p>
      <p class="highlight-text">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore.
      </p>
    </div>
  </div>
  <br />
  <br />

  <!-- PERSONAJES -->
  <h2 class="subtitle">Personajes</h2>
  <div class="characters-grid">
    <!--     <div class="character-card" *ngFor="let db of listDragonBall">
      <div class="avatar">
        <img [src]="db.image" [alt]="db.name" />
      </div>
      <h3 class="character-name">{{ db.name }}</h3>
      <p class="character-role">{{ db.ki }}</p>
      <p class="character-description">{{ db.description }}</p>
    </div>
 -->
    <div class="character-card">
      <div class="avatar">
        <img
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          alt="Personaje 02"
        />
      </div>
      <h3 class="character-name">Personaje 02</h3>
      <p class="character-role">Astrophysicist</p>
      <p class="character-description">
        Brilliant and determined, Dr. Voss leads the mission to save the
        universe.
      </p>
    </div>
    
  </div>

  <br />
  <br />
  <app-footer></app-footer>
</div>
