<app-navbar></app-navbar>
<div class="container">
  <h1>VideoJuegos</h1>

  <p>
    Explora las principales consolas del mundo de los videojuegos y descubre qué
    las hace únicas. Desde experiencias inmersivas hasta los títulos más
    aclamados, cada consola ofrece algo distinto. ¿Qué te atrae más: la potencia
    gráfica, los exclusivos o la innovación en el gameplay? Aquí encontrarás una
    selección de las mejores opciones.
  </p>

  <div class="consolas-container">
    <div class="content" *ngFor="let consola of consolas">
      <img [src]="consola.imagen" alt="consola.nombre" />
      <div class="descripcion">
        <h3>{{ consola.nombre }}</h3>
        <p>{{ consola.descripcion }}</p>
      </div>
      <button [routerLink]="consola.link">Consulta tus juegos favoritos</button>
    </div>
  </div>
  <br />
  <br />
  <app-footer></app-footer>
</div>
