<app-navbar></app-navbar>
<div class="container">
  <h1>VideoJuegos</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempus
    vulputate metus, placerat vulputate erat sagittis nec. In nec nisi nibh. Sed
    vel fringilla mauris. Maecenas pharetra sem ut ante dapibus, in gravida
    lacus blandit. Mauris ornare magna molestie ipsum finibus, non auctor purus
    mollis. Ut feugiat, nisl at dapibus molestie, nulla ex volutpat tortor, in
    dignissim massa nunc efficitur dolor. Proin tristique nisi erat, id sagittis
    magna blandit ut. Phasellus nec ante posuere, consequat eros laoreet,
    malesuada dui.
  </p>

  <div class="consolas-container">
    <div class="content" *ngFor="let consola of consolas">
      <img [src]="consola.imagen" alt="consola.nombre" />
      <div class="descripcion">
        <h3>{{ consola.nombre }}</h3>
        <p>{{ consola.descripcion }}</p>
      </div>
      <button [routerLink]="consola.link">Consulta tus juegos favoritos</button>
    </div>
  </div>
  <br />
  <br />
  <app-footer></app-footer>
</div>
