<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-column">
      <h3>Explora el universo Star Wars</h3>
      <ul>
        <li routerLink="/cronologia">Cronología</li>
        <!-- <li>Personajes</li> -->
      </ul>
    </div>

    <div class="footer-column">
      <h3>Consulta tus videojuegos favoritos</h3>
      <ul>
        <li routerLink="/xbox">Xbox</li>
        <li routerLink="/play_station">Playstation</li>
        <li routerLink="/nintendo">Nintendo</li>
      </ul>
    </div>

    <div class="footer-logo">
      <h1>StarWiki</h1>
      <img routerLink="/inicio" src="assets/img/logo2.png" alt="StarWiki" />
    </div>

    <div class="footer-column">
      <h3>Sumérgete en el mundo de anime</h3>
      <ul>
        <li routerLink="/dragon_ball">Dragon Ball</li>
        <li routerLink="/one_piece">One Piece</li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Contribuye con tu conocimiento</h3>
      <ul>
        <li routerLink="#comunidad">Comunidad</li>
      </ul>
    </div>
  </div>

  <div class="footer-icons">
    <!-- Aquí podrías agregar iconos de navegación o un carrusel -->
    <span class="icon"></span>
    <span class="icon"></span>
    <span class="icon"></span>
    <span class="icon"></span>
  </div>
</footer>
