<nav>
  <img routerLink="/inicio" src="assets/img/logo2.png" />
  <h1 routerLink="/inicio">StarWiki</h1>
  <ul class="links">
    <li><a href="/inicio" class="titulo">Inicio</a></li>
    <li>
      <a class="titulo"
        >Star Wars
        <mat-icon
          aria-hidden="false"
          fontIcon="arrow_drop_down"
          class="icon"
        ></mat-icon>
      </a>
      <ul>
        <li class="sub"><a class="titulo" href="/cronologia">Cronología</a></li>
        <li class="sub">
          <a class="titulo"
            >Trilogías
            <mat-icon
              aria-hidden="false"
              fontIcon="arrow_drop_down"
              class="icon"
            ></mat-icon>
          </a>
          <ul>
            <li>
              <a class="titulo"
                >Trilogía de Precuelas<mat-icon
                  aria-hidden="false"
                  fontIcon="arrow_drop_down"
                  class="icon"
                ></mat-icon
              ></a>
              <ul>
                <li class="sub">
                  <a class="titulo" href="/episodio_I">Episodio I</a>
                </li>
                <li class="sub">
                  <a class="titulo" href="/episodio_II">Episodio II</a>
                </li>
                <li class="sub">
                  <a class="titulo" href="/episodio_III">Episodio III</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="titulo"
                >Trilogía Original<mat-icon
                  aria-hidden="false"
                  fontIcon="arrow_drop_down"
                  class="icon"
                ></mat-icon
              ></a>
              <ul>
                <li class="sub">
                  <a class="titulo" href="/episodio_IV">Episodio IV</a>
                </li>
                <li class="sub">
                  <a class="titulo" href="/episodio_V">Episodio V</a>
                </li>
                <li class="sub">
                  <a class="titulo" href="/episodio_VI">Episodio VI</a>
                </li>
              </ul>
            </li>
            <li class="sub">
              <a class="titulo"
                >Trilogía de Secuelas<mat-icon
                  aria-hidden="false"
                  fontIcon="arrow_drop_down"
                  class="icon"
                ></mat-icon
              ></a>
              <ul>
                <li class="sub">
                  <a class="titulo" href="/episodio_VII">Episodio VII</a>
                </li>
                <li class="sub">
                  <a class="titulo" href="/episodio_VIII">Episodio VIII</a>
                </li>
                <li class="sub">
                  <a class="titulo" href="/episodio_IX">Episodio IX</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/videojuegos" class="titulo"
        >Videojuegos
        <mat-icon
          aria-hidden="false"
          fontIcon="arrow_drop_down"
          class="icon"
        ></mat-icon>
      </a>
      <ul>
        <li class="sub"><a class="titulo" href="/xbox">Xbox</a></li>
        <li class="sub">
          <a class="titulo" href="/play_station">PlayStation</a>
        </li>
        <li class="sub"><a class="titulo" href="/nintendo">Nintendo</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/anime" class="titulo"
        >Anime
        <mat-icon
          aria-hidden="false"
          fontIcon="arrow_drop_down"
          class="icon"
        ></mat-icon>
      </a>
      <ul>
        <li class="sub">
          <a class="titulo" href="/dragon_ball">Dragon Ball</a>
        </li>
        <li class="sub"><a class="titulo" href="/one_piece">One Piece</a></li>
      </ul>
    </li>

    <li><a class="titulo" href="#comunidad">Comunidad </a></li>
  </ul>
</nav>
