<nav>
  <img routerLink="/inicio" src="assets/img/logo2.png" />
  <h1 routerLink="/inicio">StarWiki</h1>
  <ul class="links">
    <li><a routerLink="/inicio" class="titulo">Inicio</a></li>
    <li>
      <a class="titulo"
        >Star Wars
        <mat-icon
          aria-hidden="false"
          fontIcon="arrow_drop_down"
          class="icon"
        ></mat-icon>
      </a>
      <ul>
        <li class="sub"><a class="titulo" routerLink="/cronologia">Cronología</a></li>
        <li class="sub">
          <a class="titulo"
            >Trilogías
            <mat-icon
              aria-hidden="false"
              fontIcon="arrow_drop_down"
              class="icon"
            ></mat-icon>
          </a>
          <ul>
            <li>
              <a class="titulo" routerLink="/trilogia_precuelas">Trilogía de Precuelas</a>
            </li>
            <li>
              <a class="titulo" routerLink="/trilogia_original">Trilogía Original</a>
            </li>
            <li class="sub">
              <a class="titulo" routerLink="/trilogia_secuelas">Trilogía de Secuelas</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/videojuegos" class="titulo"
        >Videojuegos
        <mat-icon
          aria-hidden="false"
          fontIcon="arrow_drop_down"
          class="icon"
        ></mat-icon>
      </a>
      <ul>
        <li class="sub"><a class="titulo" routerLink="/xbox">Xbox</a></li>
        <li class="sub">
          <a class="titulo" routerLink="/play_station">PlayStation</a>
        </li>
        <li class="sub"><a class="titulo" routerLink="/nintendo">Nintendo</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/anime" class="titulo"
        >Anime
        <mat-icon
          aria-hidden="false"
          fontIcon="arrow_drop_down"
          class="icon"
        ></mat-icon>
      </a>
      <ul>
        <li class="sub">
          <a class="titulo" routerLink="/dragon_ball">Dragon Ball</a>
        </li>
        <li class="sub"><a class="titulo" routerLink="/one_piece">One Piece</a></li>
      </ul>
    </li>

    <li><a class="titulo" routerLink="/comunidad">Comunidad</a></li>
  </ul>
</nav>
