<app-navbar></app-navbar>

<div class="container">
  <!-- PELICULAS -->
  <div class="pelis-container">
    <div class="content-left">
      <h1>Star Wars</h1>

      <p>
        Star Wars es una de las sagas cinematográficas más icónicas de todos los
        tiempos, creada por George Lucas. Con historias que abarcan
        generaciones, esta serie de películas explora la lucha entre el bien y
        el mal, la familia y el destino, en un universo lleno de planetas
        exóticos, especies alienígenas, y la misteriosa Fuerza que conecta a
        todas las criaturas. Desde la caída de la República hasta el ascenso del
        Imperio y la resistencia de los Jedi, Star Wars continúa cautivando a
        millones de fans alrededor del mundo.
      </p>

      <!-- Películas -->
      <div class="cards-pelis">
        <img
          *ngFor="let pelicula of peliculas"
          [src]="pelicula.imageUrl"
          [alt]="pelicula.title"
          (click)="selectPelicula(pelicula)"
        />
      </div>

      <br />
      <br />
    </div>

    <div class="content-right">
      <img
        class="main-image"
        [src]="selectedPelicula.imageUrl"
        [alt]="selectedPelicula.title"
      />
      <div class="descripcion">
        <h3>{{ selectedPelicula.title }}</h3>
        <p>{{ selectedPelicula.description }}</p>
        <button [routerLink]="selectedPelicula.route">Lee más</button>
      </div>
    </div>
  </div>

  <!-- PERSONAJES -->
  <h2>Personajes</h2>
  <div class="characters-grid">
    <div class="character-card" *ngFor="let personajes of listPersonajes">
      <h3 class="character-name">{{ personajes.name }}</h3>
      <p class="character-role">
        <b>Año de Nacimiento:</b> {{ personajes.birth_year }}
      </p>
      <p class="character-role"><b>Estatura:</b> {{ personajes.height }} cm</p>
      <p class="character-role"><b>Peso:</b> {{ personajes.mass }} kg</p>
      <p class="character-role"><b>Género:</b> {{ personajes.gender }}</p>
      <p class="character-role">
        <b>Color de Piel:</b> {{ personajes.skin_color }}
      </p>
      <p class="character-role">
        <b>Color de Cabello:</b> {{ personajes.hair_color }}
      </p>
      <p class="character-role">
        <b>Color de Ojos:</b> {{ personajes.eye_color }}
      </p>
    </div>
  </div>

  <br />
  <br />
  <app-footer></app-footer>
</div>
