<app-navbar></app-navbar>
<div class="container">
  <h1>Anime</h1>
  <br />
  <p>
    El anime es una forma de entretenimiento originaria de Japón que ha
    conquistado a millones de personas en todo el mundo. Con su animación
    vibrante, tramas profundas y personajes complejos, el anime se ha convertido
    en un fenómeno cultural que trasciende fronteras. A lo largo de las décadas,
    el anime ha evolucionado, adoptando una gran diversidad de géneros que
    abarcan desde la acción, aventura, comedia, drama, hasta temas más
    filosóficos y existenciales. Algunos de los animes más populares no solo se
    disfrutan por su arte y animación, sino también por sus historias que
    abordan temas universales como la amistad, el amor, la lucha interna, y la
    superación personal.
  </p>
  <p>
    La industria del anime ha crecido enormemente desde sus inicios, comenzando
    como un medio de entretenimiento en Japón, pero rápidamente extendiéndose a
    audiencias internacionales. Plataformas como Crunchyroll, Netflix, y
    Funimation han jugado un papel crucial en la globalización del anime,
    haciendo que incluso los títulos menos conocidos lleguen a nuevas
    audiencias. Los fanáticos del anime no solo se limitan a ver las series,
    sino que también se sumergen en una cultura de cosplay, fan art,
    convenciones y una comunidad activa que discute teorías y analiza episodios.
    Cada serie de anime tiene una forma única de abordar la narración, lo que
    permite que los espectadores se conecten con los personajes y las historias
    de maneras diferentes.
  </p>

  <div class="cards-container">
    <div class="content" *ngFor="let a of anime">
      <img [src]="a.imagen" alt="a.nombre" />
      <button [routerLink]="a.link">
        Sumérgete en el mundo de {{ a.nombre }}
      </button>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <app-footer></app-footer>
</div>
