<app-navbar></app-navbar>

<div class="container" part="scroll">
  <div class="serach-box">
    <mat-form-field>
      <mat-label> <mat-icon>search</mat-icon>Buscar en la Wiki...</mat-label>
      <input matInput type="search" placeholder="Buscar" />
    </mat-form-field>
    <button class="search-btn">Buscar</button>
  </div>
  <br />
  <br />
  <h1>Bienvenido a nuestra Wiki!!</h1>

  <br />
  <br />

  <div class="card-container">
    <div
      class="card"
      *ngFor="let card of cards"
      [ngClass]="card.class"
      [routerLink]="card.link"
    >
      <video class="video-background" loop muted autoplay>
        <source [src]="card.videoLink" />
      </video>
      <div class="card-content">{{ card.titulo }}</div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div class="articulo-container">
    <div class="articulo-texto">
      <h2>
        El origen de los Jedi: Un análisis sobre los primeros Jedi en la
        historia de Star Wars
      </h2>
      <p>
        Los Jedi tienen raíces profundas en la historia de Star Wars, comenzando
        como los Je'daii en el planeta Tython. Los primeros Jedi fueron los
        guardianes de la Fuerza, aprendiendo a equilibrar sus dos aspectos: el
        luminoso y el oscuro. Con el tiempo, esta orden se separó de los Sith,
        quienes abrazaron el lado oscuro. Los Jedi adoptaron un código riguroso
        de paz, sabiduría y autocontrol, convirtiéndose en protectores de la
        galaxia. Su legado perdura a través de los siglos, simbolizando la lucha
        entre el bien y el mal.
      </p>
      <!-- <button class="featured-button">Lee el artículo destacado</button> -->
    </div>
    <div class="articulo-imagen">
      <img
        src="https://verbalusmater.com/storage/2022/03/hipertextual-alta-republica-siguiente-aventura-narrativa-star-wars-tras-saga-skywalker-2020556754-scaled-1.png"
        alt="El Origen de los Jedi"
      />
    </div>
  </div>

  <br />
  <br />

  <app-footer></app-footer>
</div>
