<app-navbar></app-navbar>
<div class="container">
  <h1 class="title">Trilogía de Secuelas</h1>
  <br />
  <br />

  <div class="tabs">
    <div class="tabs-list">
      <button class="tabs-trigger active" data-tab="episodioVII" (click)="showEpisodioVII()">
        Episodio VII - El Despertar de la Fuerza
      </button>
      <button class="tabs-trigger" data-tab="episodioVIII" (click)="showEpisodioVIII()">
        Episodio VIII - Los Últimos Jedi
      </button>
      <button class="tabs-trigger" data-tab="episodioIX" (click)="showEpisodioIX()">
        Episodio IX - El Ascenso de Skywalker
      </button>
    </div>
    <br />
    

    <!-- EPISODIO VII -->
    <div class="tabs-content active" id="episodioVII">
      <div class="grid">
        <div>
          <img src="assets/img/st-episodios/7.webp" alt="Episodio VII - El Despertar de la Fuerza" class="poster" />
        </div>
        <div class="text-container">
          <h2 class="subtitle">Sinopsis</h2>
          <p class="text">
            Décadas después de la caída del Imperio, una nueva amenaza emerge en la forma de la Primera Orden. Rey, una recolectora de chatarra en el planeta Jakku, descubre una conexión con la Fuerza y se ve involucrada en la lucha entre la Resistencia, liderada por la General Leia Organa, y Kylo Ren, un misterioso villano en conflicto con su linaje. Junto a Finn, un ex soldado de asalto, y Han Solo, Rey emprende un viaje para ayudar a la Resistencia y aprender los secretos de su propia identidad, en un conflicto que los llevará a confrontar la oscuridad que amenaza la paz galáctica.          </p>
          <div class="badges">
            <span class="badge"><span class="icon">⏱</span> 2h 19m</span>
            <span class="badge"><span class="icon">⭐</span> 4.1/5</span>
          </div>
        </div>
      </div>

      <!-- Linea del Tiempo -->
      <h2 class="subtitle">Secuelas</h2>
      <div class="scroll-area">
        <ol class="timeline">
          <li class="timeline-item" *ngFor="let lt7 of lineaTiempoEvii">
            <div class="dot"></div>
            <h3 class="timeline-title">{{ lt7.title }}</h3>
            <p class="timeline-text">{{ lt7.text }}</p>
          </li>
        </ol>
      </div>

      <!-- Personajes Principales -->
      <h2 class="subtitle">Personajes Principales</h2>
      <div class="characters-grid">
        <div class="character-card" *ngFor="let e7 of personajesEvii">
          <h3 class="character-name">{{ e7.nombre }}</h3>
          <p class="character-description">{{ e7.descripcion }}</p>
          <div class="avatar">
            <img [src]="e7.imagen" [alt]="e7.nombre" />
          </div>
        </div>
      </div>

    </div>

    <!-- EPISODIO VIII -->
    <div class="tabs-content" id="episodioVIII">
      <div class="grid">
        <div>
          <img src="assets/img/st-episodios/8.webp" alt="Episodio VIII - Los Últimos Jedi" class="poster" />
        </div>
        <div class="text-container">
          <h2 class="subtitle">Sinopsis</h2>
          <p class="text">
            La Resistencia se encuentra en una posición vulnerable mientras la Primera Orden los ataca implacablemente. Rey localiza a Luke Skywalker en un planeta remoto, con la esperanza de que el legendario Jedi la entrene y se una a la causa. Luke, desilusionado y atormentado por errores pasados, duda en regresar a la lucha. Mientras Rey explora su conexión con la Fuerza y lucha con su propio lado oscuro, la Resistencia enfrenta desesperadas batallas por su supervivencia. Esta entrega explora la complejidad de héroes y villanos, revelando que el bien y el mal no son tan claros como parecen.          </p>
          <div class="badges">
            <span class="badge"><span class="icon">⏱</span> 2h 32m</span>
            <span class="badge"><span class="icon">⭐</span> 4/5</span>
          </div>
        </div>
      </div>

      <!-- Linea del Tiempo -->
      <h2 class="subtitle">Secuelas</h2>
      <div class="scroll-area">
        <ol class="timeline">
          <li class="timeline-item" *ngFor="let l78 of lineaTiempoEviii">
            <div class="dot"></div>
            <h3 class="timeline-title">{{ l78.title }}</h3>
            <p class="timeline-text">{{ l78.text }}</p>
          </li>
        </ol>
      </div>

      <!-- Personajes Principales -->
      <h2 class="subtitle">Personajes Principales</h2>
      <div class="characters-grid">
        <div class="character-card" *ngFor="let e8 of personajesEviii">
          <h3 class="character-name">{{ e8.nombre }}</h3>
          <p class="character-description">{{ e8.descripcion }}</p>
          <div class="avatar">
            <img [src]="e8.imagen" [alt]="e8.nombre" />
          </div>
        </div>
      </div>
    </div>

    <!-- EPISODIO IX -->
    <div class="tabs-content" id="episodioIX">
      <div class="grid">
        <div>
          <img src="assets/img/st-episodios/9.webp" alt="Episodio IX - El Ascenso de Skywalker" class="poster" />
        </div>
        <div class="text-container">
          <h2 class="subtitle">Sinopsis</h2>
          <p class="text">
            Cuando se revela que el Emperador Palpatine ha sobrevivido y prepara un ejército para retomar el poder, Rey y sus aliados deben enfrentarse a una última y desesperada misión. Rey descubre su conexión con el Emperador y se enfrenta a Kylo Ren en una lucha por su alma y el destino de la galaxia. En una serie de épicas batallas finales, la Resistencia y la Primera Orden se enfrentan en un conflicto de proporciones galácticas. Rey debe aceptar su herencia y decidir si abrazará el lado luminoso o el oscuro, en un enfrentamiento que definirá el futuro de todos.          </p>
          <div class="badges">
            <span class="badge"><span class="icon">⏱</span> 2h 23m</span>
            <span class="badge"><span class="icon">⭐</span> 3.5/5</span>
          </div>
        </div>
      </div>

      <!-- Linea del Tiempo -->
      <h2 class="subtitle">Secuelas</h2>
      <div class="scroll-area">
        <ol class="timeline">
          <li class="timeline-item" *ngFor="let lt9 of lineaTiempoEix">
            <div class="dot"></div>
            <h3 class="timeline-title">{{ lt9.title }}</h3>
            <p class="timeline-text">{{ lt9.text }}</p>
          </li>
        </ol>
      </div>

      <!-- Personajes Principales -->
      <h2 class="subtitle">Personajes Principales</h2>
      <div class="characters-grid">
        <div class="character-card" *ngFor="let e9 of personajesEix">
          <h3 class="character-name">{{ e9.nombre }}</h3>
          <p class="character-description">{{ e9.descripcion }}</p>
          <div class="avatar">
            <img [src]="e9.imagen" [alt]="e9.nombre" />
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
  <app-footer></app-footer>
</div>
