.container {
  position: absolute;
  top: 10%;
  margin: 30px;
  padding: 10px 10px none;
  z-index: 998;
}

.agregar {
  width: 100%;
}

#modal {
  height: 95%;
  width: 40%;
  background-color: #fff;
  /* border: none; */
  border-radius: 8px;
}

/* Card styles */
.card {
  width: 100%;
  max-width: 650px;
  margin: 20px auto;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  font-family: Poppins;
}

.card-header {
  padding: 16px;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.card-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  margin-left: 235px;
}

.card-header mat-icon {
  margin-right: 10px;
}

.card-content {
  padding: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 95%;
}

textarea {
  resize: vertical;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

button {
  padding: 10px 20px;
  background-color: var(--color-tertiary);
  color: #000;
  border: none;
  font-family: Poppins;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-secondary);
  }
}

@media (max-width: 768px) {
  .container {
    position: relative;
    top: 0;
    margin: 10px;
    padding: 5px;
    width: 90%;
  }

  .text-section {
    text-align: center;
  }

  #modal {
    width: 90%;
  }
  .card-header h2 {
    text-align: center;
    margin-left: 115px;
  }
  
  .card-header mat-icon {
    margin-right: 0;
  }
}
