/* General */
.container {
  position: absolute;
  top: 10%;
  margin: 30px;
  padding: 10px 10px none;
  z-index: 998;
}

.agregar {
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); /* Ajuste para pantallas pequeñas */
  gap: 15px;
}

.column {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
}

.cardC {
  background-color: #fff;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  height: 100%;
  justify-content: space-between;
}

.card-headerC {
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.img1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  background-color: var(--color-tertiary);
  color: #000;
  border: none;
  font-family: Poppins;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-bottom: 15px; /* Espacio extra para botones */
}

button:hover {
  background-color: var(--color-secondary);
}

#modal,
#ModalC {
  position: fixed; /* Usamos 'fixed' para fijarlo en la pantalla */
  top: 90%; /* Posiciona el modal en el centro vertical */
  left: 40%;
  transform: translate(
    -50%,
    -50%
  ); /* Ajuste de la posición para centrarlo correctamente */
  height: 90%; /* Ajustamos la altura para que se ajuste al contenido */
  width: 40%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  z-index: 999; /* Asegúrate de que el modal esté por encima de otros elementos */
}
#ModalC {
  top: 55%; /* Posiciona el modal en el centro vertical */
  left: 50%;
  height: auto;
}

.hidden {
  display: none;
}

/* Modal */
.modal-content {
  padding: 10px;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 650px;
  border-radius: 8px;
  overflow: hidden;
  font-family: Poppins;
}

.card-header {
  padding: 16px;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }

  mat-icon {
    margin-right: 10px;
  }
}

.card-content {
  padding: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  input,
  textarea,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%; /* Asegura que los campos de formulario ocupen el 100% del contenedor */
  }

  textarea {
    resize: vertical;
  }
}

.custom-file-input {
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
  font-size: 13px;

  &::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
  }

  &::before {
    content: "Seleccionar imagen";
    display: inline-block;
    background: var(--color-primary);
    color: white;
    border-radius: 8px;
    padding: 8px 12px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;

    &:hover {
      background-color: var(--color-secondary);
    }
  }
}

.card-footer {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

button {
  padding: 10px 20px;
  background-color: var(--color-tertiary);
  color: #000;
  border: none;
  font-family: Poppins;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Agregar espacio adicional */
}

button:hover {
  background-color: var(--color-secondary);
}

/* Imagen dentro del modal */
.cards-container {
  .img2 {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    position: relative;
    top: 0;
    margin: 10px;
    padding: 5px;
    width: 90%;
  }

  #modal,
  #ModalC {
    width: 90%;
  }

  #modal {
    left: 50%;
  }

  #ModalC {
    height: auto;
  }

  h1,
  h2 {
    text-align: center;
  }

  mat-icon {
    margin-right: 0;
  }

  .row {
    grid-template-columns: repeat(
      auto-fit,
      minmax(280px, 1fr)
    ); /* Ajuste para pantallas más pequeñas */
  }

  .cardC {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Menos sombra en pantallas pequeñas */
  }

  .card-headerC {
    padding: 10px;
  }

  .img1 {
    height: 250px; /* Ajustar altura de las imágenes */
  }

  .custom-file-input::before {
    font-size: 9pt;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 0.9rem;
  }

  .card-footer {
    flex-direction: column; /* Apilar los botones en pantallas pequeñas */
    align-items: center;
  }
}
